header{
    font-size: large;
    display: grid;
    background-color: black;
    width: 100%;
    nav ul{
        display: flex;
        background-color: black;
        justify-content: space-between;
        align-content: center;
            li {
                list-style-type:none;
                color: $colorgeneral;
        }
    }
}