@import "variables";
@import "general"; 
@import "nav";

a,h1,h2{
    text-decoration: none;
    font-weight: bolder;
    color: $colorgeneral;
    align-content: center;
    padding: 10px;
}
h1,h2{
    border: 3px solid white;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-image: linear-gradient(rgb(255, 230, 0), white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer{
    font-size: large;
    padding: 3em;
    background-color: black;
    margin-bottom: 0;
    margin-top: 1.5em;
    justify-content: space-between;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.galeria-grid{
    grid-area: galeria;
}
.footer{
    grid-area: footer;
}
.grilla-general{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "galeria"
    "footer";
}
.galeria-grid,.container-fluid-formulario{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap:15px;
    justify-items: center;
}
.logoprincipal{
    @include sizes(150px,150px);
}
.tamano{
    @include sizes(300px, 300px);
    border: 5px solid $colorgeneral;
    margin: 1px;
    transition: 1s;
}
.tamano:hover{
    transform: scale(1,1);
}
.tamanoEsp{
    @include sizes(300px,600px);
    border: 5px solid $colorgeneral;
    margin: 1px;
}
p, .mb-3,.form-text,.btnbtn-primary{
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    text-align:justify;
    line-height: 50px;
    letter-spacing: 2px;
    word-spacing: 3px;
    color:$colorgeneral;
}
.btnbtn-primary{
    border-color:$colorgeneral;
    text-align: center;
    font-weight: bolder;
    transition: 2s;
}
.btnbtn-primary{
    @include sizes(120px,60px);
    background-image: radial-gradient(circle 100px,black,grey);
}
.btnbtn-primary:hover {
    transform: scale(1.5,1.5);
    background-color: black;
}
.enlacespaginas{
    display: flex;
    justify-content: center;
}
.parrafosFooter{
    font-size: 15px;
    display: inline-block;
    padding:5px;
    margin-left: 5px;
}
.icono{
    margin-bottom: 10px;
    padding: 10px;
}
.iconoRedes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width:600px){

.grilla-general{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-areas: 
        "header header"
        "nav nav"
        "galeria galeria"
        "footer footer";
    }
nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.tamano, .tamanoEsp{
    border: 8px solid rgb(151, 136, 126);
    margin: 5px;
}
}

@media (min-width:1024px){

.grilla-general{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header header"
    "nav nav"
    "galeria galeria galeria"
    "footer footer footer";
    }
.collapse{
    display: flex;
    justify-content: flex-end;
}
ul li{
    list-style-type: none;
    display:inline-block;
}
.tamano, .tamanoEsp{
    border: 8px solid black;
    padding: 5px;
}
}




